@import url('./App.css');
*{
    box-sizing: border-box;
}
.mobile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 320px;
    padding: 17px;
    height: 530px;
    margin: 10px 0px;
    border-radius: 13px;
    font-size: 14px;
}
