@keyframes paymentModal {
    10%{
        top: 0px;
    }
    50%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}

.payment-complete{
    position: absolute;
    /* left: 50%;
    margin-left: -45vw; */
    top: -100vh;
    width: 100vw;
    padding: 40px;
    height: 100vh;
    box-sizing: border-box;
    z-index: 999999;
    background: #FCFCFC;
    font-family: 'Jost', sans-serif;
    color: rgb(19, 18, 18);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.payment-animation-false{
    top: -100vh;
}
.payment-animation-true{
    animation: paymentModal 10s;
    animation-fill-mode: forwards;
}
.payment-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.pay-gif{
    width: 300px;
    height: 300px;
    margin-right: 50px;
}
.payment-details{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border: 1px solid transparent;
    border-left: 1px solid rgba(34, 56, 62, 0.3);
}
.pay-head{
    font-size: 2rem;
}
.cardholder{
    text-transform: uppercase;
    margin: 11px 0px;
    font-size: 19px;
}
.card-details{
    background: #C4C4C4;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px;
    padding-right: 14px;
}
.card-detail-card-icon{
    background: rgba(32, 32, 32, 0.34);
    border-radius: 10px 0px 0px 0px;
    padding: 10px 14px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    height: 100%;
}
.credit-card-text{
    padding: 0px 10px;
}
.another-payment{
    background: #22383E;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #EDEDED;
    border: none;
    outline: none;
    margin: 30px 0px;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 24px -8px #22383E;
}
.another-payment:hover{
    box-shadow: 0px 0px 54px -10px #22383E;
}



@media screen and (max-width: 800px) {
    img.pay-gif{
        width: 220px;
        height: 220px;
    }
    span.pay-head {
        font-size: 1.5rem;
    }
    span.cardholder{
        font-size: 14px;
    }
}


@media screen and (max-width: 700px) {
    img.pay-gif{
        width: 180px;
        height: 180px;
    }
    span.pay-head {
        font-size: 1.5rem;
    }
    span.cardholder{
        font-size: 14px;
    }
    div.payment-complete{
        padding: 40px 0px;
    }
}


@media screen and (max-width: 660px) {
    img.pay-gif{
        width: 180px;
        height: 180px;
    }
    span.pay-head {
        font-size: 1.5rem;
    }
    span.cardholder{
        font-size: 14px;
    }
}
@media screen and (max-width: 570px) {
    div.payment-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img.pay-gif{
        width: 180px;
        height: 180px;
        margin: 0px;
        margin-bottom: 40px;
    }
    span.pay-head {
        font-size: 1.5rem;
    }
    span.cardholder{
        font-size: 14px;
    }
    div.payment-details{
        border-top: 1px solid rgba(34, 56, 62, 0.3);
        border-left: 1px solid transparent;
        margin: 0px;
        padding: 0px ;
        padding-top: 40px;
    }
}